# Removes final modifiers from AdvancementWidget x/y
private-f net.minecraft.client.gui.screens.advancements.AdvancementWidget x
private-f net.minecraft.client.gui.screens.advancements.AdvancementWidget y

# Removes final modifier from AdvancementTab index
private-f net.minecraft.client.gui.screens.advancements.AdvancementTab index

# Removes final modifier from AdvancementTabType max
private-f net.minecraft.client.gui.screens.advancements.AdvancementTabType max

# Makes enum public for access from other namespaces
public net.minecraft.client.gui.screens.advancements.AdvancementTabType

# Make advancement screen constants public
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen WINDOW_INSIDE_X
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen WINDOW_INSIDE_Y
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen WINDOW_TITLE_X
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen WINDOW_TITLE_Y
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen WINDOW_LOCATION
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen TITLE
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen NO_ADVANCEMENTS_LABEL
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen VERY_SAD_LABEL